.navbar {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 1px 1px 4px 1px #bebebe;
  .nav-link {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #000;
  }
}
.navbar-brand {
  font-size: 28px !important;
  font-weight: 600;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: end;
  }
}
